<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'config_cache_enabled' => false,
    // The key used to create the configuration cache file name.
    //'config_cache_key' => 'module_config_cache',
    // The path in which to cache merged configuration.
    //'cache_dir' =>  './data/cache',
    // ...
	'doctrine' => array(
		'connection' => array(
			'orm_default' => array(
				'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
				'params' => array(
					'host'     => 'localhost',
					'port'     => '3306',
					'user'     => 'USER',
					'password' => 'PASS',
					'dbname'   => 'DB',
				)
			)
		)
	),
	'mailer' => array(
		'default_message' => array(
			'from' => array(
				'email' => 'no-reply@befasty.com',
				'name'  => 'Moneyspark'
			),
			'encoding' => 'utf-8'
		),
		'smtp_options' => array(
			'host'              => 'in.mailjet.com',
			'port'              => 587,
			'connection_class'  => 'login',
			'connection_config' => array(
				'username' => '9c317ebb7129193e21d80bac6ad3621c',
				'password' => 'cb0d42f79ed926b5fee2ad244c754fd4',
				'ssl'      => 'tls'
			)
		)
	)
);
